{namespace events=GeorgRinger\Eventnews\ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />

<f:section name="content">
 ...
        <!-- Here comes the new field public: -->      
        <h3>{location.public}</h3>
 ...
</f:section>
